@media (max-width: 660px) {
    /* main section design */
    main{
        width: 100%;
        left: 0;
        border-radius: 0;
    }
    /* end main section design */
}
@media (max-width: 766px) {
    /* qrcode section design */
    .qrcode-section{
        flex-direction: column;
        align-items: center;
    }
    /* end qrcode section design */
    /* video section design */
    
    .video-section video{
        max-width: 100%;
    }
    /* end video section design */
}
@media (max-width: 333px) {
    /* qrcode section design */
    .qrcode-section #qr-code{
        width: 100%;
    }
    /* end qrcode section design */
}