@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt&family=Roboto&display=swap');

/* custom style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(59, 74, 84, 0.3);
}
/* header section design */
header{
    height: 275px;
    width: 100%;
    background-color: rgb(0, 168, 132);
}
header h1{
    display: flex;
    align-items: center;
    padding: 35px 9%;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
header img{
    width: 55px;
    margin-right: 15px;
    filter: brightness(1.5);
}
/* end header section design */


/* main section design */
main{
    width: 82%;
    color: rgb(59, 74, 84);
    background-color: #fff;
    box-shadow: 10px 20px 30px 40px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -150px;
    margin: auto;
}


/* qrcode-section design */
.qrcode-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
}
.qrcode-section h2{
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.qrcode-section ol{
    padding-left: 20px;
    font-size: 1.413rem;
}
.qrcode-section ol li{
    margin-bottom: 1.5rem;
}
.qrcode-section ol li i{
    margin-left: 10px;
    background: #ddd;
    padding: 3px;
}
.qrcode-section ol li span{
    color: #000;
    font-weight: 500;
}
.qrcode-section #qr-code{
    width: 300px;
}
/* end qrcode-section design */

hr{
    background-color: #ddd;
    height: 1px;
}

a{
    text-decoration: none;
    color: rgb(0, 168, 132);
    display: block;
    margin: 2rem;
    font-size: 1.25rem;
}

/* video section design  */
.video-section {
    background: rgba(0, 0, 0, 0.03);
    padding-top: 1rem;
    padding-bottom: 5rem;
    text-align: center;
}
.video-section h2{
    font-weight: 200;
    font-size: 2rem;
}
.video-section a{
    margin: 0;
    margin-bottom: 1rem;
}
.video-section a:hover{
    text-decoration: underline;
}
.video-section video{
    max-width: 600px;
}
/* end video section design  */

/* end main section design */